@import "tailwindcss";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.02);
    opacity: 1;
  }
}
